/* CSS styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #05051b;
}

.logo_img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

nav ul li{
    display: inline-block;
    margin: 10px 15px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
}
li {
    display: inline-block;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease; /* Optional: Transition color change */
  }
  nav ul li a.active {
    position: relative;
  }
  
  nav ul li a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: #007bff;
    transition: width 0.3s ease;
  }
  
   li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px; /* Adjust as needed to position the underline */
    width: 0%;
    height: 3px; /* Adjust thickness as needed */
    background-color: #007bff; /* Adjust color as needed */
    transition: width 0.3s ease; /* Transition width change */
  }

  li:hover::after {
    width: 100%;
  }

  /* Optional: Change color on hover */
  li:hover {
    color:#007bff;
  }
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
.about_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
.mb-1{
  margin-bottom: 10px;
}
p{
    
    line-height: 30px;
    animation-delay: 1s;
}
/* .animated-text {
  transform: translateX(-100%);
  animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animated-img {
  transform: translateX(100%);
  animation: slideimg 0.5s ease-in-out forwards;
}

@keyframes slideimg {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animated-text-Y {
    transform: translateY(100%);
    animation: slideOut 0.5s ease-in-out forwards;
  }
  
  @keyframes slideOut {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  } */
.text_color{
    color: white;
}
.home_img{
    width: 100%;height: 500px;object-fit: contain;
}
footer {
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

.icon{
    font-size: 30px;color: white;
}
.personal-icon{
  font-size: 15px;color: white;
}
.underline_none{
  text-decoration: none;color: white;
}

.skills {
  width: 300px;
  margin-top: 20px;
  
}
.skills h2 {
  text-align: left;
}

.skill-name {
  margin-bottom: 5px;
}
.skill-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}
.skill-level {
  display: block;
  height: 20px;
  background-color: #007bff;
  border-radius: 5px;
}
.lang_img:hover{
  transform: scale(1.10);
  transition: 0.3s;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}
.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -60px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip::after {
  content: '';
  position: absolute;
  top: 100%; /* Arrow at the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}